body {
    background-color: #b4d3e9;
}

.centered {
    position: absolute;
    top: 17.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    opacity: 75%;
    font-family: "OCR A Std", monospace;
    color: #1b1b1b;
}

.animate__animated.animate__flash {
    --animate-duration: 2s;
}

.about_me {
    margin-bottom: 20px;
    padding: 50px;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0C6170;
    color: #ffffff;
}

.about_me img {
    float: right;
    margin-left: 25px;
    width: 17.5%;
    height: auto;
    margin-top: -1.85%;
}

.about_me h2 {
    margin-bottom: 20px;
    font-size: 36px;
    margin-top: -2.5%;
}

.about_me p {
    font-size: 24px;
    font-weight: lighter;
    line-height: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #5FA8D3;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid #CAE9FF;
    width: 80%;
}

.close {
    color: rgb(128, 203, 233);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(35, 190, 236);
    text-decoration: none;
    cursor: pointer;
}

.chapter {
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 38px;
    color: grey;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #86b4c9;
    border-radius: 15px;
}

.card img {
    border-radius: 15px;
    opacity: 60%;
    height: 200px;
}
  
.card img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    opacity: 100%;
}

.card-body {
    text-align: center;
}

footer {
    padding: 50px;
}

footer ul li{
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 7%;
    width: 10em;
    line-height: 50px;
}

a:link {
    text-decoration: none;
}

/* @media screen and (max-width: 992px) {
    header {
        
    }
}

@media screen and (max-width: 768px) {
    nav {
        
    }
} */

@media screen and (max-width: 768px) {
    .centered {
        position: absolute;
        top: 12.25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        opacity: 75%;
        font-family: "OCR A Std", monospace;
        color: #1b1b1b;
    } 
    .about_me h2 {
        margin-top: -15%;
    }
    .about_me img {
        margin-top: -15%;
        margin-right: -10%;
        width: 35%;
        height: auto;
    }
    .about_me p {
        font-size: small;
        line-height: normal;
        margin-top: -5%;
        margin-left: -10%;
    }
    .modal {
        margin-top: 25%;
    }
    .modal-content p {
        margin: 15% auto;
    }
    .card {
        height: 8rem;
    }
    .card img {
        height: 75px;
    }
    .card-body {
        font-size: small;
    }
    footer {
        font-size: 15px;
    }
}